body,html {
	background-color: #f6f6f6;
}
#painting {
	height: 400px;
	width: 400px;
	background-color: #fff4db;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	box-shadow: 10px 10px 0px #8d8d8d;
}
#toprow {
	height: 290px;
}
	
#bigbox {
	height: 290px;
	width: 290px;
	float: right;
}
.red{
	background-color: red;
}

.right{
	float: right;
}

.left{
	float: left;
}

#divider{
}

.black{
	background-color: black;
}

#topdivider {
	background-color: blue;
}
#divider1 {
	height: 290px;
	width: 10px;
}
#topleftcolumn {
	height: 290px;
	width: 100px;
	background-color: green;
}

#divider2{
	height: 10px;
	width: 100px;
}

#box1{
	height: 140px;
	width: 100px;
	background-color: yellow;
}

#bottomrow{
	height: 100px;
	width: 100px;
	background-color: blue;
}

#divider3{
	height: 100px;
	width: 10px;
}

#bottombox{
	height: 100px;
	width: 260px;
	background-color: pink;
}

#bottomsmall{
	height: 45px;
	width: 20px;
	background-color: purple;
}

#divider4{
	height: 10px;
	width: 20px;
}

#divider0{
	height: 10px;
	width: 400px;
}
